*{
    box-sizing: border-box;
}
body, h1, h2, h3, h4{
    font-family: sans-serif;
    margin: 0;
}

header{
    background-color: #86C4FF;
    padding: 40px;
}

header nav{
    
}

header nav a{

}

section.section-element{
    margin: 0px;
    padding: 0px;
}

section.box-model-section{
    background-color: #CEF1C9;
    padding: 40px;
}

.interior h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.0;
}

.box-model-interior{
    background-color: #9EF491;
    border: 10px solid;
    border-color: green;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 600px;
    padding: 40px;
    width: 100%;
}

.box-model-interior h1{
    color: black;
    margin-bottom: 45px;
}

.box-model-interior h2{
    color: black;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.0;
}

.box-model-interior p{
    color: black;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.0;
}




section.heading-section{
    background-color: #F1CAF0;
    padding: 40px;
}

.heading-interior h1, h2, h3, h4, p{
    color: #6C0468;
    font-weight: 700;
    margin: 0 auto;
    padding-bottom: 25px;
    max-width: 1200px;
}

.heading-interior h2{
    font-size: 40px;
}

.heading-interior h3{
    font-size: 64px;
}

.heading-interior h4{
    font-size: 36px;
}

.heading-interior p{
    color: #3A0F39;
    font-size: 20px;
}
