*{
    box-sizing: border-box;
}
body, h1, h2, h3, h4{
    font-family: sans-serif;
    margin: 0;
}

header{
    background-color: #86C4FF;
    padding: 40px;
}

header nav{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

header nav a{
    color: black;
    font-weight: 700;
    margin: 0 15px;
    padding: 5px;
    text-decoration: none;
}

header nav a:first-of-type{
    margin-left: 0;
}
header nav a:last-of-type{
    margin-right: 0;
}

section.section-element{
    margin: 0;
    padding: 40px;
}

.interior{
    border: 10px solid;
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

section.box-model-section{
    background-color: #CEF1C9;
    padding: 40px;
}

.interior h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.0;
}

.box-model-interior{
    background-color: #9EF491;
    border-color: green;
    min-height: 600px;
}

.box-model-interior h1{
    color: black;
    margin-bottom: 45px;
}

.box-model-interior h2{
    color: black;
    font-size: 32px;
    font-weight: 400;
    line-height: 0;
}

.box-model-interior p{
    color: black;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.0;
}


.flex-box-section{
    background-color: #F1D3CA;
    padding: 40px;
}

.interior-flex{
    padding: 0px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.interior-flex > div{
    background-color: #ff9371;
    border: 10px solid #7d260b;
}

.interior-flex--top{
    flex-basis: 100%;
    margin-bottom: 40px;
    padding: 32px;
}
.interior-flex--top > div{
    align-items: center;
    background-color: #FFECE5;
    border: 5px solid #DD4414;
    display: flex;
    height: 170px;
    justify-content: center;
    margin: 0 auto;
    max-width: 825px;
    width: 100%;
}

.interior-flex--top > div > h1{
    margin: 0;
}

.interior-flex--horizontal, .interior-flex--vertical{
    display: flex;
    flex-basis: 48%;
    min-height: 324px;
    padding: 20px;
}

.interior-flex--horizontal > div, 
.interior-flex--vertical > div{
    background-color: #FFECE5;
    border: 5px solid #DD4414;
    flex-basis: 33%;
}

.interior-flex--horizontal > div{
    margin-right: 40px;
}

.interior-flex--vertical > div{
    margin-bottom: 20px;
}

.interior-flex--horizontal > div:last-of-type,
.interior-flex--vertical > div:last-of-type{
    margin: 0;
}

.interior-flex--vertical{
    flex-direction: column;
}


.positioning-section{
    background-color: #CAD7F1;
}

.positioning-section .interior{
    background-color: #85C4FF;
    border-color: #0E3F9E;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.circle, .square{
    background-color: #4480F4;
    border: 10px solid #0E3F9E;
    height: 200px;
    position: absolute;
    width: 200px;
}

.circle {
    border-radius: 50%;
}


section.heading-section{
    background-color: #F1CAF0;
}

.heading-interior{
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.heading-interior h1, h2, h3, h4, p{
    color: #6C0468;
    font-weight: 700;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 25px;
}

.heading-interior h2{
    font-size: 40px;
}

.heading-interior h3{
    font-size: 64px;
}

.heading-interior h4{
    font-size: 36px;
}

.heading-interior p{
    color: #3A0F39;
    font-size: 20px;
}

.simple-javascript-section{
    background-color: #FAEFD3;
}

.simple-javascript-section .interior{
    color: #644904;
    min-height: 400px;
}

.counter-button-wrapper{
    align-items: center;
    display:flex;
    margin: 0 auto;
}

.simple-javascript-section h1{
    margin-bottom: 40px;
}

.counter-button-wrapper p{
    color: #504D46;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    margin: 0 40px 0 0;
    padding-bottom: 0px;
}

.counter-button-wrapper div button{
    background-color: #CDC5B1;
    border-color: #79756C;
    font-size: 24px;
    font-weight: 700;
    height: 80px;
    width: 270px;
}


footer{
    background-color: #FFC3C3;
    padding: 40px;
}

footer h3{
    color: black;
    padding-bottom: 0;
}